div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

video {
  padding-top: 15px;
  width: 95%;
  max-width: 95%;
  max-height: 500px;
}

ion-tabs {

}

.tab1 {
  background-color: blue;
}

.tab2 {
  background-color: red;
}
